@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
    background-color: #F29799 !important;
}

.swiper-button-prev::after, .swiper-button-next::after {
    color: #F29799 !important;    
    font-size: 24px !important;
    font-weight: bold;
}

.swiper-button-next {
    position: absolute;
    top: 40% !important;
    right: 0 !important;
}

.swiper-button-prev {
    position: absolute;
    top: 40% !important;
    left: 0 !important;
}

